body {
  background: #fff;
  color: #333;
  font-family: Lato, sans-serif;
  background-color: #e4e4e4;
}

.containers {
  width: 400px;
  margin: auto;
  background-color: #fff;
  padding: 0px 10px 10px 10px;
  border-radius: 10px;
  vertical-align: middle;
}

#link {
  text-align: center;
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  
}
