{% extends 'base.html' %} {% block content %}
<div class="container" style="width: auto;">
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="button" class="btn btn-success" onclick="location.href = '/todo'">Task Management</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/tools/maskurl'">Mask The Link</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/tools/shorturl'">URL Shorting
            Tool</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/tools/age'">Age Calculator</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/fun/flames'">Flames</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/image/upload'">Free Image Hosting</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/fun/new-year-countdown'">New Year Countdown</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/github/'">Github Stats</button>
        <button type="button" class="btn btn-success" onclick="location.href = '/redirecter/'">Redirecting Tool</button>
    </div>
</div>
{% endblock content %}