{% extends 'base.html' %}

{% block ref %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login_style.css')}}">
{% endblock ref %}

{% block content %}
<div class="form-signin">
    <form action="{{ url_for('tools.short_url') }}" method="POST">
        <h1 class="h3 mb-3 fw-normal" style="text-align: center;">Make Link Shorter</h1>
        <input type="url" id="inputUrl" class="form-control" placeholder="Link" required autofocus name="url">
        <br>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Short Link</button>
        <br>
        <br>
        {% if url %}
        <div class="alert alert-success" role="alert">
            {{ url }}
        </div>
        {% endif %}
    </form>
</div>
{% endblock content %}
